@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #15335e;
  --secondary: #5FBF88;
  --tertiary: #15335D;
  --quaternary: #8D4748;

  --hoverButton: #555353;
  --hoverText: #171717;
  --inputcolor: #EFEFEF;
}



/* Good defaults for Vite apps */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: better default for buttons/inputs in your theme */
button {
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
}
